
html {
    background: #000;
    font-family: Verdana, sans-serif;
}
body {
    background: white;
    padding: 1em;
    border-radius: 1em;
}
a {
    color: #0E2560;
}
h2 {
    margin-bottom: 1em;
}
.passage-audio {
    height: 1em;
}
#passage-audio {
    width: 100%;
    max-height: 2em;
	position:fixed;
	left:0px;
	top: 5px;
}

#passage-text.speaking {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
	color: black;
}
.autofocus-current-word,
.playback-rate {
    font-size: smaller;
}
.autofocus-current-word label,
.playback-rate label {
    font-weight: bold;
}
q {
    quotes: "“" "”" "‘" "’";
}
.section-heading {
    display: none;
}
.passage p {
    line-height: 1.4em;
	color: #999;
}
.verse-start {
    line-height: 0;
}
.initialized span[data-begin]:focus,
.initialized span[data-begin]:hover {
    background-color: #ffffcc;
    box-shadow: 0px 0px 4px #FFFFCA;
}
.initialized span[data-begin].speaking {
    background-color: #33FFCC; /*22EEBB;*/
    box-shadow: 0px 0px 4px #0C9;
}
.initialized span[data-begin] {
    cursor: pointer;
}

.hide-text{
    color: white;
	font-size: 0.7em;
}

.float{
	margin-top: 14px;
}

.play-pause-float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right: 40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.learn-mode-float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	left: 40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.random-shlok-float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right: 120px;
    background-color:#0C9;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}

.error {
    color: red;
}

article > footer {
    border-top: solid 1px red;
    padding-top: 0.3em;
    margin-top: 0.3em;
}

footer {
    margin-bottom: 0.5em;
    line-height: 1.4em;
    font-size: small;
}
footer img {
    vertical-align: text-bottom;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
}

/* Might want to wrap a span around your checkbox text */
.checkboxtext
{
  /* Checkbox text */
  font-size: 110%;
  display: inline;
}

.extra{
color: #CCC;	
font-size: 70%;

}

body {
  border-color: #660000;
  border-width: thin;
  margin: 0;
  padding: 5;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size-adjust: none;
  font-stretch: normal;
  color: #000;
  text-align: left;
  line-height: normal;
  background-color: white;
  font-size: 1.9em;
}

/* Dr. Mike Beutner, Instructional Technology, University of Louisiana at Monroe,   beutner "at" ulm.edu   */